<div class='modal' [@fadeAnimation]>
  <div class='modal-box' (clickOutside)='handleClickOutside()'>
    <app-icon-button iconType='featherIcon' iconName='featherX' cssClass='exit-modal' (click)='handleClickOutside()'></app-icon-button>
    <h3>Options</h3>
    <div class='options-container'>
      <p-menu [model]='items'></p-menu>
      <ng-container [ngSwitch]='activeTab'>
        <ng-template [ngSwitchCase]='OptionTabs.PROFILE'>
          <ng-container *ngTemplateOutlet='profile'></ng-container>
        </ng-template>
        <ng-template [ngSwitchCase]='OptionTabs.APPEARANCE'>
          <ng-container *ngTemplateOutlet='appearance'></ng-container>
        </ng-template>
        <ng-template [ngSwitchCase]='OptionTabs.BEHAVIOUR'>
          <ng-container *ngTemplateOutlet='behaviour'></ng-container>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #profile>
  <div class='option-panel'>

    <div class='options-panel--permissions' *ngIf='userService.currentUser$ | async as currentUser'>
      <span class='option-heading'>PERMISSIONS</span>
      <div *ngIf='currentUser.permissions.length !== 0; else addAuthKey'>
        <span>Current Permissions: </span>
        {{currentUser.permissions}}
      </div>
      <ng-template #addAuthKey>
          <span>Add your auth key to modify your list!</span>

          <input
            pInputText
            type='text'
            id='authToken'
            placeholder='Auth Token (Optional)'
            [(ngModel)]='authKey'
          />
        <p-button label="Submit" [loading]='(userService.loadingIndicator$ | async) ?? false' (onClick)="handleVerifyAuthKey()"></p-button>
      </ng-template>
    </div>
    <div>
      Test
    </div>

  </div>
</ng-template>

<ng-template #appearance>
  <div class='option-panel'>
    <span>Text1</span>
    <span>Text1</span>
    <span>Text1</span>
    <span>Text1</span>
  </div>
</ng-template>

<ng-template #behaviour>
  <div class='option-panel'>
    <span>Text1</span>
    <span>Text1</span>
    <span>Text1</span>
    <span>Text1</span>
  </div>
</ng-template>
