.terminus-icon-button{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  padding-bottom: 5px;
  cursor: pointer;
  pointer-events: all;

  &:hover {
    background-color: var(--icon-button-hover);
    transition: 0.25s;
  }
}
