<div class='profile-container'>
  <div class='profile'>
    <div class='profile-banner'>
      <ng-container
        *ngFor='let userNovel of userService.getUserNovels() | async |
        highestVote: "vote"'
      >
        <div
          class='image-entry'
          [style.background-image]='(getBackgroundImage | memoize:userNovel)'>
        </div>
      </ng-container>
    </div>

    <div class='profile-details'>
      <div class='info'>
        <img class='profile-icon' src='/assets/base-profile-icon.jpg' alt='profile-icon'>
        <div class='text'>
          <span class='username' (click)='openProfileInVNDB()'>{{this.userService.getUser()?.username}}</span>
          <span class='uid' (click)='openProfileInVNDB()'>{{this.userService.getUser()?.uid}}</span>
        </div>
        <div class='refresh' (click)='doRefreshNovels()'>
          <div class='refresh-text'>
            <span class='updated'>Updated:</span>
            <span class='updated-at'>{{formattedDate(this.userService.getUser()?.updatedAt)}}</span>
          </div>
          <app-icon-button [ngClass]='refreshing ? "rotate" : ""' cssClass='refresh-icon' iconName='featherRefreshCw' iconType='featherIcon'></app-icon-button>
        </div>
      </div>
    </div>
    <div class='profile-charts'>
      <div class='pies'>
        <app-profile-pie-graphs [ulist]='userService.getUserNovels() | async'></app-profile-pie-graphs>
      </div>

      <div class='heatmap'>
        <app-profile-heatmap-graphs [ulist]='userService.getUserNovels() | async'></app-profile-heatmap-graphs>
      </div>

      <div class='stats'>Stats</div>
    </div>
  </div>
</div>

<div class='columns-container'>
  <div class='columns'>
    <div class='recent'>
      <app-profile-novel-container
        title='Recently Updated (30 days)'
        [novels]='userService.getUserNovels() | async |
        novelSort: sortByRecentlyModified |
        novelFilter: filterModByLastThirtyDays'
      >
      </app-profile-novel-container>
    </div>

    <div class='playing'>
      <app-profile-novel-container
        title='Playing'
        [novels]='userService.getUserNovels() | async |
        novelSort: sortByPopularity |
        novelFilter: isPlaying'
      >
      </app-profile-novel-container>
    </div>

    <div class='favorites'>
      <app-profile-novel-container
        title='Favourites'
        [novels]='userService.getUserNovels() | async |
        novelSort: sortByVoteScore |
        novelFilter: isFinished'
      >
      </app-profile-novel-container>
    </div>
  </div>
</div>
