<div class='login-container'>
  <app-theme-switch class='theme-switch'></app-theme-switch>
  <div class='header'>
    <h1 class='header'>Get Started</h1>
  </div>

  <div class='content'>
    <input type='text' placeholder='Username' [formControl]="username">
  </div>

  <div class='footer'>
    <div class='auth'>
      <input type='text' class='auth-token-input' placeholder='Auth Token (Optional)' [formControl]="authToken">
    </div>

    <div class='login'>
      <button
        type="button"
        class="btn btn-primary btn-login"
        (click)="processUser()"
      >
        <ng-icon name='featherLogIn'></ng-icon>
        Login
      </button>
    </div>
  </div>
</div>
