@import 'common';

$dark-theme: (
  // Common
  background: $black-color-background,
  card-background: $black-color-card,
  input-color: $black-color-text,
  input-border-color: $black-color-text,
  input-background-color: #0c0c0c38,
  input-placeholder-color: grey,
  text-button-color: $secondary-color-200,
  text-button-background: $secondary-color-700,
  text-button-background--hover: $secondary-color-900,

  // Shared Module
  icon-button-hover: #595959C9,

  // Landing / Login
  heading-color: $black-color-text,
  carett-color: $black-color-text,

  // Book
  book-background-color: #50555966,
);
