$card-background: #242629;
$main-background: #16161a;
$main-color: #EFF7F9;

$fairy-tale: #FECBD9;
$fairy-tale-2: #FBC5D3;
$cyclamen: #F47CAA;
$rose-ebony: #614A50;
$alice-blue: #EFF7F9;
$tiffany-blue: #9BEBE2;
$verdigris: #73B1AC;
$myrtle-green: #3C6861;
$dim-gray: #616F70;
$outer-space: #324041;
$pitch-black: #0A0A0A;


$dark-theme: (
  background-color: $main-background,
  heading-color: $main-color,
  carett-color: $main-color,

  book-background-color: $card-background,

  icon-button-hover: #595959C9,
);
