@import 'common';

$dark-theme: (
  // Common
  background: $black-color-background,
  card-background: $dark-color-500,
  card-background-hover: $dark-color-600,
  border-color: $dark-color-700,
  text-color: $light-color-100,
  text-sub-color: $light-color-300,
  tooltip-background-color: $dark-color-800,
  input-color: $light-color-100,
  input-border-color: $dark-color-700,
  input-active-border-color: $dark-primary-color-800,
  input-background-color: #0c0c0c38,
  input-placeholder-color: grey,
  text-button-color: $light-color-100,
  text-button-background: $dark-primary-color-700,
  text-button-background--hover: $dark-primary-color-800,

  // Shared Module
  icon-button-hover: #595959C9,
  navbar-background: $dark-color-600,
  navbar-search-background: $dark-color-800,
  navbar-search-hover-border: $dark-color-300,
  navbar-bottom-border: #414141,

  // Landing / Login
  heading-color: $light-color-100,
  carett-color: $light-color-100,


  // Book
  book-background-color: #50555966,

  // Profile
  profile-background-color: $dark-color-600,
  profile-info-background-color: $dark-color-200,

  // Modal
  modal-box-background-color: $dark-color-800,
  modal-search-background-color: $dark-color-800,
  modal-result-hover-background-color: $dark-color-700,

  // Tooltip
  tooltip-border-color: $dark-color-600,

  // Menu
  menu-hover-color: $dark-primary-color-500,

  // Sidebar
  sidebar-background: $dark-color-800,
  sidebar-item-hover-background: $dark-primary-color-800,

  green-000: #2a2a2a,

);
