$light-theme: (
  // Card and Surfaces
  background-color: #EEF1E6,
  card-background-color: #E5A871,
  card-heading-color: #6A5460,
  card-paragraph-color: #211528,
  headline-color: #BF638C,
  sub-headline-color: #211528,

  // Buttons
  button-icon-color: black,
  button-text-color: #201f1f,
  button-border-color: #EEF1E6,
  button-background-color: #e8e4e6,
  button-background-color--hover: #a7ffc0,

  theme-switch-background-color: #abd1c6,

  // Forms
  form-input-border-color: #EEF1E6,

  // Utilities
  stroke-color: #BF638C,
  primary-color: #211528,
  highlight-color: #7f5af0,
  secondary-color: #260a35,
  tertiary-color: #71e5af,
)
