@import 'common';

$light-theme: (
    // Common
    background: $white-color-background,
    card-background: $white-color-card,
    input-color: $white-color-text,
    input-border-color: #a1a1a1,
    input-background-color: #9e9e9e38,
    input-placeholder-color: #707070,
    text-button-color: $primary-color-200,
    text-button-background: $primary-color-700,
    text-button-background--hover: $primary-color-900,

    // Shared Module
    icon-button-hover: #595959C9,

    // Landing / Login
    heading-color: $white-color-text,
    carett-color: $white-color-text,

    // Book
    book-background-color: $white-color-card,
);
