/*
-------------------------------------
  Overrides:
  - Overwrites theme colors from bootstrap
-------------------------------------
 */
// Placeholder text in things like select form
::placeholder {
  font-size: 18px;
  filter: opacity(35%);
}

.btn {
  font-weight: 700;
}

.btn-primary {
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border-color: var(--button-border-color);
}
.btn-primary:hover, .btn-primary:active {
  color: var(--button-text-color);
  background-color: var(--button-background-color--hover) !important;
}
.btn-primary:disabled {
  color: var(--button-text-color);
  background-color: var(--tertiary-color) !important;
  border-color: var(--stroke-color) !important;
}

.btn-secondary {
  background-color: var(--button-secondary-color);
  border-color: var(--button-secondary-color);
}
.btn-secondary:hover, .btn-secondary:active {
  background-color: var(--button-primary-color) !important;
  border-color: var(--button-primary-color) !important;
}

.btn-warning {
  background-color: var(--button-warning-color);
  border-color: var(--button-warning-color);
}
.btn-warning:hover, .btn-warning:active {
  background-color: var(--button-warning-color) !important;
  border-color: var(--button-warning-color) !important;
}

input {
  border-color: var(--form-input-border-color);
}

.alert {
  font-weight: 600;
}
