.p-dialog {
  border: inherit;
}

.p-confirm-dialog {
  .p-dialog-header, .p-dialog-content, .p-dialog-footer {
    background: var(--card-background);
    color: var(--input-color);
    border: 1px solid var(--border-color);
  }

  .p-dialog-header-icon {
    color: var(--input-color) !important;
  }
}

.p-dialog-accept {
  background-color: var(--accept-color);
}

.p-dialog-cancel {
  background-color: var(--cancel-color);
}

checkicon, timesicon {
  margin-top: 3px;
}

.p-dialog .p-dialog-header {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.p-dialog .p-dialog-footer {
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;

  button {
    width: 7.5rem;
  }
}
