// Since we use primeNG input component (lazy) use ::ng-deep to pierce here
input::placeholder {
  color: var(--input-placeholder-color);
}

.p-inputtext {
  color: var(--input-color);
  border: 1px solid var(--input-border-color);
  background-color: var(--input-background-color);
  font-size: 1.5rem;
  padding: 0.5rem 0.75rem;
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.5rem;

  &:enabled:hover, &:enabled:focus {
    box-shadow: 0 0 0 1px var(--input-active-border-color);
    border-color: var(--input-active-border-color);
  }
}

.p-error, .p-inputtext .ng-dirty .ng-invalid {
  color: var(--error-text-color);
}
