.hide-modal {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.show-modal {
  opacity: 1 !important;
  visibility: visible !important;
}

.exit-modal {
  position: absolute;
  display: none !important;
  top: -1rem;
  right: 0;
  background-color: var(--modal-result-hover-background-color);
}
