.p-overlaypanel {
  background: var(--tooltip-background-color);
  color: var(--text-color);
  border: 1px solid var(--profile-background-color);
}

.p-overlaypanel:before, .p-overlaypanel:after {
  display: none;
}

.p-overlaypanel .p-overlaypanel-content {
  border-radius: 0.5rem;
  border: 1px solid var(--profile-background-color);
}
