.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
  border-bottom-color: var(--tooltip-background-color);
}

.p-tooltip .p-tooltip-text {
  background: var(--tooltip-background-color);
  color: var(--text-color);
}
