<div class='table-container'>
  <table class='heatmap'>
    <tbody>
    <tr *ngFor='let week of heatmapData'>
      <td *ngFor='let cell of week'
          class='cell-content'
          [style.background-color]='getColorLevel(cell.novels.length)'
          [pTooltip]='tooltip'
          pTooltipPosition='top'>
        <ng-template #tooltip>
          <ng-template *ngIf='cell.novels.length > 0; else empty'>
          </ng-template>
          <span>On: </span>
          <span>{{cell.date}}</span>
          <ng-container *ngFor='let novel of cell.novels'>
            {{novel.vn.title}}
            <br>
          </ng-container>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  None for this day!
</ng-template>
