.table-container {
  min-width: 392px;
  overflow: auto;
}

th {
  min-width: 1.5rem;
  max-width: 1.5rem;
}

td:first-of-type {
  border: none;
  overflow: auto;
}

td {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border: 1px solid var(--text-color);
  border-radius: 0.25rem;
  resize: none;
  box-sizing: border-box;
}

.current-date {
}

.unpassed-date {
  display: none;
}
