<div class='login-container'>
  <app-theme-switch class='theme-switch'></app-theme-switch>
  <div class='header'>
    <h1 class='header'>Get Started</h1>
  </div>

  <form [formGroup]='form' (ngSubmit)='processUser()'>

    <div class='content'>
      <div class='p-field p-input-icon-left'>
        <i class='pi pi-user'></i>
        <input
          pInputText
          type='text'
          id='username'
          formControlName='username'
          placeholder='Username'
          [class]="{'p-invalid': form.get('username')?.invalid && form.get('username')?.touched}"
        />
      </div>

      <div *ngIf="submitted || form.get('username')?.invalid && form.get('username')?.touched" class='p-error'>
        {{errorMessage}}
      </div>

      <div class='p-field p-input-icon-left'>
        <i class='pi pi-key'></i>
        <input
          pInputText
          type='text'
          id='authToken'
          formControlName='authToken'
          placeholder='Auth Token (Optional)'
        />
      </div>
    </div>
    <div class='footer'>
      <button
        pButton
        type='button'
        class='btn btn-primary btn-submit'
        (click)='processUser()'
        label='Login'
      >
        <ng-icon name='featherLogIn'></ng-icon>
      </button>

      <button
        pButton
        type='submit'
        class='btn btn-primary btn-submit'
        label='Guest Login'
      >
      </button>
    </div>
  </form>
  <div class='loading-spinner'>
    <p-progressSpinner *ngIf='userService.loadingIndicator$ | async'></p-progressSpinner>
  </div>
</div>
