@media (max-width: 1250px) {
  .landing-container {
    flex-direction: column;
    width: 100vw !important;
    height: 100vh !important;
    padding: 0 !important;
    overflow-y: scroll;
    overflow-x: hidden;

    .landing-hero {
      width: 100% !important;
      align-items: center;

      .landing-heading {
        font-size: 3rem;
        line-height: 6rem;
      }

      .landing-subheading {
        font-size: 1.5rem !important;
      }
    }

    ::ng-deep .login-container {
      margin-left: 0.5rem;
      width: 100% !important;
      height: auto;
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
    }
  }
}

.landing-container {
  display: flex;
  justify-content: space-between;
  padding-left: 5rem;
  position: relative;
}

.landing-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #EFF7F9; // Should not be updated
  width: min-content;

  .landing-heading {
    font-weight: 600;
    font-size: 8rem;
    line-height: 8rem;
    text-align: center;
  }

  // Container defined to allow for typing animation
  .landing-subheading-container {
    width: min-content;
    margin-left: 1rem;

    .landing-subheading {
      font-size: 2rem;
      display: inline-flex;
      width: 100%;
      border-right: 0.15em solid var(--heading-color);
      white-space: nowrap;
      overflow: hidden;
      animation: forward-backward 2s steps(25, end) infinite alternate, blink-caret 0.65s step-end infinite;
    }
  }
}

@keyframes forward-backward {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: var(--caret-color);
  }
}

#tsparticles {
  z-index: -1;
}
