<ng-particles
  class='particles'
  [id]='particles.id'
  [options]='particles.particleOptions'
  [particlesInit]='particlesInit'>
</ng-particles>

<p-toast position="bottom-right"></p-toast>

<div class='landing-container'>
  <div class='landing-hero'>
    <span class='landing-heading'>Terminus.</span>
    <div class='landing-subheading-container'>
      <span class='landing-subheading'>
        {{ currentText }}
      </span>
    </div>
  </div>
  <app-login class='footer' (errorMessageEmitter)='errorMessageHandler($event)'></app-login>
</div>
