<app-search-modal *ngIf='showSearchModal' (outsideClicked)='closeSearchModal()'></app-search-modal>
<app-commits-modal *ngIf='showChangelogModal' (outsideClicked)='closeChangelogModal()'></app-commits-modal>
<app-options-modal *ngIf='showOptionsModal' (outsideClicked)='closeOptionsModal()'></app-options-modal>

<div class='navbar-container'>
  <div class='navbar'>
    <div class='home'>
      <app-icon-button iconType='featherIcon' iconName='featherMenu'></app-icon-button>
    </div>

    <div class='search' (click)='displaySearchModal($event)'>
      <div class='search-bar'>
        <ng-icon class='search-icon' name='featherSearch'></ng-icon>
      </div>
    </div>

    <div class='settings'>
      <app-theme-switch class='theme-switch height-adjust'></app-theme-switch>
      <app-icon-button iconType='featherIcon' iconName='featherGithub' (click)='goToGithub()' cssClass='external-link-icon' pTooltip="GitHub" tooltipPosition='bottom'></app-icon-button>
      <app-icon-button iconType='featherIcon' iconName='featherList' (click)='displayChangelogModal($event)' pTooltip="Changelog" tooltipPosition='bottom'></app-icon-button>
      <app-icon-button iconType='featherIcon' iconName='featherSettings' (click)='displayOptionsModal($event)' pTooltip="Settings" tooltipPosition='bottom'></app-icon-button>

      <p-confirmDialog header='Logout' [style]="{width: '50vw'}" acceptButtonStyleClass='p-dialog-accept' rejectButtonStyleClass='p-dialog-cancel'></p-confirmDialog>
      <app-icon-button iconType='featherIcon' iconName='featherLogOut' (click)='goToHome($event)' pTooltip="Logout" tooltipPosition='bottom'></app-icon-button>
    </div>
  </div>
</div>


<!--    Logo Icon, use whenever needed-->
<!--<div class='home' (click)='goToHome()'>-->
<!--  <div class='icon-container'>-->
<!--    <div class='icon'></div>-->
<!--  </div>-->
