.navbar-container {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 2.5px solid var(--navbar-bottom-border);
  padding: 0.5rem 0;
  background-color: var(--navbar-background);

  transition: background-color 0.25s, color 0.25s;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  height: 3rem;

  .home, .search, .settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1rem;
    gap: 0.25rem;
  }

  .home {
    .icon-container {
      transition: 0.25s;

      &:hover {
        filter: drop-shadow(0 0 8px rgba(255, 255, 255, 1));
      }

      .icon {
        width: 1.5rem;
        height: 1.5rem;
        mask-image: url('/assets/icon.png');
        mask-size: cover;
        background-color: white;
        cursor: pointer;
      }
    }
  }

  .search {
    width: 25rem;
    cursor: text;

    .search-bar {
      display: flex;
      align-items: center;
      width: 100%;
      height: 40px;
      max-width: 400px;
      background-color: var(--navbar-search-background);
      border-radius: 0.5rem;
      transition: 0.25s;

      &:hover {
        background-color: var(--navbar-search-hover-border);
      }

      .search-icon {
        padding-left: 0.75rem;
        z-index: 1;
      }
    }
  }
}

.height-adjust {
  margin-top: 3px;
}

