<shared-sidebar
  [showSidebar]='showSidebar'
  (handleHome)='goToHome($event)'
  (handleHideSidebar)='closeSidebar()'>

</shared-sidebar>
<shared-search-modal *ngIf='showSearchModal' (outsideClicked)='closeSearchModal()'></shared-search-modal>
<shared-commits-modal *ngIf='showChangelogModal' (outsideClicked)='closeChangelogModal()'></shared-commits-modal>
<shared-options-modal *ngIf='showOptionsModal' (outsideClicked)='closeOptionsModal()'></shared-options-modal>

<div class='navbar-container'>
  <div class='navbar'>
    <div class='home'>
      <shared-icon-button iconType='featherIcon' iconName='featherMenu' (click)='displaySidebar()'></shared-icon-button>
    </div>

    <div class='search' (click)='displaySearchModal($event)'>
      <div class='search-bar'>
        <ng-icon class='search-icon' name='featherSearch'></ng-icon>
      </div>
    </div>

    <div class='settings'>
      <shared-theme-switch class='theme-switch height-adjust'></shared-theme-switch>
      <shared-icon-button iconType='featherIcon' iconName='featherGithub' (click)='goToGithub()' cssClass='external-link-icon' pTooltip="GitHub" tooltipPosition='bottom'></shared-icon-button>
      <shared-icon-button iconType='featherIcon' iconName='featherList' (click)='displayChangelogModal($event)' pTooltip="Changelog" tooltipPosition='bottom'></shared-icon-button>
      <shared-icon-button iconType='featherIcon' iconName='featherSettings' (click)='displayOptionsModal($event)' pTooltip="Settings" tooltipPosition='bottom'></shared-icon-button>

      <p-confirmDialog header='Logout' [style]="{width: '50vw'}" acceptButtonStyleClass='p-dialog-accept' rejectButtonStyleClass='p-dialog-cancel'></p-confirmDialog>
      <shared-icon-button iconType='featherIcon' iconName='featherLogOut' (click)='goToHome($event)' pTooltip="Logout" tooltipPosition='bottom'></shared-icon-button>
    </div>
  </div>
</div>


<!--    Logo Icon, use whenever needed-->
<!--<div class='home' (click)='goToHome()'>-->
<!--  <div class='icon-container'>-->
<!--    <div class='icon'></div>-->
<!--  </div>-->

