.btn-theme {
  color: var(--button-icon-color);
  background-color: var(--theme-switch-background-color);
}

.btn-theme:hover, .btn-theme:active {
  background-color: var(--theme-switch-background-color) !important;
}
