.theme-switch {
  background-color: transparent;
  border: 0;

  &:hover, .theme-switch:active {
    .theme-icon svg {
      fill: var(--theme-switch-color--enabled);
      stroke: var(--theme-switch-color--enabled);
    }
  }
}

.theme-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: var(--theme-switch-color);

  svg {
    transition: 0.5s;
    width: 100%;
    fill: transparent;
  }

  &.light svg {
    fill: transparent;
    stroke: var(--theme-switch-color--disabled);
  }

  &.dark svg {
    fill: var(--theme-switch-color--enabled);
    stroke: var(--theme-switch-color--enabled);
  }
}
