<div class='modal' [@fadeAnimation]>
  <div class='modal-box' (clickOutside)='handleClickOutside()'>
    <app-icon-button iconType='featherIcon' iconName='featherX' cssClass='exit-modal' (click)='handleClickOutside()'></app-icon-button>
    <div class='input-field'>
      <ng-icon class='search-icon' name='featherSearch'></ng-icon>
      <input pAutoFocus [autofocus]='true' class='search-field' placeholder='Search' [(ngModel)]='searchQuery' (ngModelChange)='onSearchQueryChange()'>
      <div class='spinner' *ngIf='vndbService.loadingIndicator$ | async'>
        <p-progressSpinner styleClass='loading-spinner'></p-progressSpinner>
      </div>
    </div>

    <div class='result-field' *ngIf='vndbService.searchResult$ | async as searchResult; else noResult'>

      <!--2nd failsafe to render if service had no results-->
      <ng-container *ngIf='searchResult.results.length === 0'>
        <ng-container *ngTemplateOutlet='noResult'></ng-container>
      </ng-container>

      <!--Otherwise results are present and just render them as normal-->
      <div class='result-item' *ngFor='let result of searchResult.results | novelSort: sortByPopularity' (click)='openBook(result)'>
        <div class='cover'>
          <app-book-image [imageSource]='result.image.url' styleClass='list-view'></app-book-image>
        </div>

        <div class='details'>
          <div class='title'>
            <div class='heading'>
              <span class='result-title'>{{result.title}}</span>
              <span class='result-date'>{{result.released}}</span>
            </div>
            <div class='subheading'>
              <span>{{result.developers[0]?.name}}</span>
            </div>
          </div>

          <div class='description'>
            <span [innerHTML]='getDescription(result.description)'></span>
          </div>
        </div>

        <div class='links'>
          <app-icon-button iconType='featherIcon' iconName='featherMoreVertical'></app-icon-button>
          <app-icon-button iconType='tablerIcon' iconName='playlist-add'></app-icon-button>
          <app-icon-button iconType='featherIcon' iconName='featherExternalLink' (click)='openVNLink(result)'></app-icon-button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noResult>
  <div class='result-field'>
    <div class='result-item no-result'>
      <div class='details'>
        <div class='title'>
          <div class='heading'>
            <span>No Results Found.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
