<p-toast position='bottom-right'></p-toast>

<div class='modal' [@fadeAnimation]=''>
  <div class='modal-box' (clickOutside)='handleClickOutside()'>
    <shared-icon-button iconType='featherIcon' iconName='featherX' cssClass='exit-modal' (click)='handleClickOutside()'></shared-icon-button>
    <div class='input-field'>
      <ng-icon class='search-icon' name='featherSearch'></ng-icon>
      <input pAutoFocus [autofocus]='true' class='search-field' placeholder='Search' [(ngModel)]='searchQuery' (ngModelChange)='onSearchQueryChange()'>
      <div class='spinner' *ngIf='vndbService.loadingIndicator$ | async'>
        <p-progressSpinner styleClass='loading-spinner'></p-progressSpinner>
      </div>
    </div>

    <div #resultContainer class='result-container' *ngIf='searchResults.length !== 0; else noResult'>
      <!--2nd failsafe to render if service had no results-->
      <ng-container *ngIf='searchResults.length === 0'>
        <ng-container *ngTemplateOutlet='noResult'></ng-container>
      </ng-container>

      <p-paginator
        class='search-paginator'
        *ngIf='searchResults.length !== 0'
        (onPageChange)='handlePageChange($event)'
        [first]='paginateProperties.first'
        [rows]='paginateProperties.rows'
        [alwaysShow]='true'
        [showFirstLastIcon]='false'
        [rowsPerPageOptions]='paginateProperties.rowsPerPageOptions'
        [showCurrentPageReport]='true'
        currentPageReportTemplate='{first} - {last} of {totalRecords}'
        [totalRecords]='searchResults.length'>
      </p-paginator>

      <div class='result-field'>
        <div class='result-item' *ngFor='let result of paginatedResults$ | async | novelSort: sortByPopularity' (click)='openBook(result)'>
          <div class='cover'>
            <ng-container *ngIf='result.image != null; else placeholderImage'>
              <shared-book-image [imageSource]='result.image.url' styleClass='list-view' [sexualRating]='result.image.sexualFormatted' [violenceRating]='result.image.violenceFormatted'></shared-book-image>
            </ng-container>
            <ng-template #placeholderImage>
              No Image for this novel.
            </ng-template>
          </div>

          <div class='details'>
            <div class='title'>
              <div class='heading'>
                <span class='result-title'>{{result.title}}</span>
                <span class='result-date'>{{result.released}}</span>
              </div>
              <div class='subheading'>
                <span>{{result.developers[0]?.name}}</span>
              </div>
            </div>

            <div class='description'>
              <span [innerHTML]='getDescription(result.description)'></span>
            </div>
          </div>

          <div class='links'>
            <shared-icon-button iconType='featherIcon' iconName='featherMoreVertical'></shared-icon-button>
            <shared-icon-button iconType='tablerIcon' iconName='playlist-add'></shared-icon-button>
            <shared-icon-button iconType='featherIcon' iconName='featherExternalLink' (click)='openVNLink(result)'></shared-icon-button>
          </div>
        </div>
      </div>

      <p-paginator
        class='search-paginator'
        *ngIf='searchResults.length !== 0'
        (onPageChange)='handlePageChange($event);scrollToTop()'
        [first]='paginateProperties.first'
        [rows]='paginateProperties.rows'
        [alwaysShow]='true'
        [showFirstLastIcon]='false'
        [rowsPerPageOptions]='paginateProperties.rowsPerPageOptions'
        [showCurrentPageReport]='true'
        currentPageReportTemplate='{first} - {last} of {totalRecords}'
        [totalRecords]='searchResults.length'>
      </p-paginator>

    </div>
  </div>
</div>

<ng-template #noResult>
  <div class='result-field'>
    <div class='result-item no-result'>
      <div class='details'>
        <div class='title'>
          <div class='heading'>
            <span>No Results Found.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
