.table-container {
  min-width: 465px;
  overflow: auto;

  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .table-container {
    scale: 0.85;
  }
}

th {
  min-width: 1.5rem;
  max-width: 1.5rem;
}

td.cell-content:first-of-type {
  border: none;
  overflow: auto;
}

td.cell-content {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border: 1px solid var(--text-sub-color);
  border-radius: 0.25rem;
  resize: none;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

.unpassed-date {
  display: none;
}

.empty-date {
  cursor: not-allowed;

  &:active {
    pointer-events: none;
  }
}

table.novels-container {
  border-collapse: collapse;
  border-spacing: 0.5rem;

  thead {
    border-bottom: 1px solid var(--text-color);
  }

  tbody tr td {
    &:first-of-type {
      padding-right: 1rem;
      border-right: 1px solid var(--text-color);
    }

    &:nth-of-type(2) {
      padding: 0 1rem;
    }
  }

  .novel-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .novel-toolbar {
    ::ng-deep .terminus-icon-button {
      padding: 0;
    }
  }
}
