<div class='table-container'>
  <table class='heatmap'>
    <thead>
    <tr>
      <th *ngFor='let _ of heatmapData[0]; let rowIndex = index'>
        {{ getWeekLabel(rowIndex) }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let week of heatmapData; let rowIndex = index'>
      <td>
        {{ getWeekdayLabel(rowIndex) }}
      </td>
      <td *ngFor='let cell of week'
          class='cell-content'
          (click)='op.toggle($event);toggleCurrentHeatmapCell(cell)'
          [ngClass]='{"unpassed-date": getCurrentWeekStyling(cell.date), "empty-date": cell.novels.length === 0}'
          [style.background-color]='getColorLevel(cell.novels.length)'
          [pTooltip]='tooltip'
          pTooltipPosition='top'>
        <ng-template #tooltip>
          <span>On {{weekdayDate(cell.date)}}</span>
          <br>
          <br>

          <ng-container *ngIf='cell.novels.length <= 0'>
            <span>None for this day!</span>
          </ng-container>

          <ng-container>
            <span *ngIf='cell.dayStats.added.length > 0'>
              {{cell.dayStats.added.length}} novels added!
              <br>
            </span>

            <span *ngIf='cell.dayStats.voted.length > 0'>
              {{cell.dayStats.voted.length}} novels voted!
              <br>
            </span>

            <span *ngIf='cell.dayStats.modified.length > 0'>
              {{cell.dayStats.modified.length}} novels modified!
              <br>
            </span>
          </ng-container>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<p-overlayPanel #op>
    <table class='novels-container' *ngIf='currentCell.novels.length > 0'>
      <thead>
        <tr>
          <th>Status</th>
          <th>Title</th>
        </tr>
      </thead>

      <tbody>
      <tr *ngFor='let novel of currentCell.novels'>
        <td>
          <span>{{getNovelHeatmapStatus(novel)}}</span>
        </td>
        <td class='novel-title'>
          <span (click)='goToPage(novel)'>{{novel.vn.title}}</span>
        </td>
        <td class='novel-toolbar'>
          <shared-icon-button iconType='featherIcon' iconName='featherMoreVertical'></shared-icon-button>
        </td>
      </tr>
      </tbody>
    </table>
</p-overlayPanel>
