.table-container {
  min-width: 465px;
  overflow: auto;

  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .table-container {
    scale: 0.85;
  }
}

th {
  min-width: 1.5rem;
  max-width: 1.5rem;
}

td:first-of-type {
  border: none;
  overflow: auto;
}

td {
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  border: 1px solid var(--text-sub-color);
  border-radius: 0.25rem;
  resize: none;
  box-sizing: border-box;

  &:hover {
    cursor: pointer;
  }
}

.unpassed-date {
  display: none;
}

.novels-container {
  display: flex;
  flex-direction: row;
}
