<div class='table-container'>
  <table class='heatmap'>
    <thead>
    <tr>
      <th *ngFor='let _ of heatmapData[0]; let rowIndex = index'>
        {{ getWeekLabel(rowIndex) }}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let week of heatmapData; let rowIndex = index'>
      <td>
        {{ getWeekdayLabel(rowIndex) }}
      </td>
      <td *ngFor='let cell of week'
          class='cell-content'
          (click)='op.toggle($event);toggleCurrentHeatmapCell(cell)'
          [ngClass]='getCurrentWeekStyling(cell.date)'
          [style.background-color]='getColorLevel(cell.novels.length)'
          [pTooltip]='tooltip'
          pTooltipPosition='top'>
        <ng-template #tooltip>
          <span>On {{weekdayDate(cell.date)}}</span>
          <br>

          <ng-container *ngIf='cell.novels.length <= 0'>
            <span>None for this day!</span>
          </ng-container>

          <ng-container>
            <span *ngIf='cell.dayStats.added.length > 0'>
              {{cell.dayStats.added.length}} novels added!
              <br>
            </span>

            <span *ngIf='cell.dayStats.voted.length > 0'>
              {{cell.dayStats.voted.length}} novels voted!
              <br>
            </span>

            <span *ngIf='cell.dayStats.modified.length > 0'>
              {{cell.dayStats.modified.length}} novels modified!
              <br>
            </span>
          </ng-container>
        </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<p-overlayPanel #op>
  <ng-container *ngIf='currentCell != null'>
    <div class='novels-container' *ngFor='let novel of currentCell.dayStats.added'>
      <span>Added: </span>
      <br>

      <div class='novel-title'>
        <span>{{novel.vn.title}}</span>
      </div>
      <div class='novel-toolbar'>
        <shared-icon-button iconType='featherIcon' iconName='featherMoreVertical'></shared-icon-button>
      </div>
    </div>

    <div class='novels-container' *ngFor='let novel of currentCell.dayStats.voted'>
      <span>Voted: </span>
      <br>

      <div class='novel-title'>
        <span>{{novel.vn.title}}</span>
      </div>
      <div class='novel-toolbar'>
        <shared-icon-button iconType='featherIcon' iconName='featherMoreVertical'></shared-icon-button>
      </div>
    </div>

    <div class='novels-container' *ngFor='let novel of currentCell.dayStats.modified'>
      <span>Modified: </span>
      <br>

      <div class='novel-title'>
        <span>{{novel.vn.title}}</span>
      </div>
      <div class='novel-toolbar'>
        <shared-icon-button iconType='featherIcon' iconName='featherMoreVertical'></shared-icon-button>
      </div>
    </div>
  </ng-container>
</p-overlayPanel>
