.bookshelf-container {
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  overflow-y: scroll;
  overflow-x: hidden;
}

.theme-switch {
  position: absolute;
  top: 0;
  right: 0;
}

.book-component-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem 5rem;
  gap: 3rem;
}

.spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  flex-direction: column;
  gap: 5rem;
  color: var(--text-color);

  span {
    text-align: center;
    font-size: 3rem;
    font-weight: 350;
  }
}
