<p-toast position='bottom-right'></p-toast>

<div class='profile-container'>
  <div class='profile'>
    <div class='profile-banner'>
      <ng-container
        *ngFor='let userNovel of userService.getUserNovels() | async |
        highestVote: "vote"'
      >
        <div
          class='image-entry'
          [style.background-image]='(getBackgroundImage | memoize:userNovel)'>
        </div>
      </ng-container>
    </div>

    <div class='profile-details'>
      <div class='info'>
        <img class='profile-icon' src='/assets/base-profile-icon.jpg' alt='profile-icon'>
        <div class='text'>
          <span class='username' (click)='openProfileInVNDB()'>{{this.userService.getUser()?.username}}</span>
          <span class='uid' (click)='openProfileInVNDB()'>{{this.userService.getUser()?.uid}}</span>
        </div>
        <div class='refresh' (click)='doRefreshNovels()'>
          <div class='refresh-text'>
            <span class='updated'>Updated:</span>
            <span class='updated-at'>{{formattedDate(this.userService.getUser()?.updatedAt)}}</span>
          </div>
          <shared-icon-button [ngClass]='refreshing ? "rotate" : ""' cssClass='refresh-icon' iconName='featherRefreshCw' iconType='featherIcon'></shared-icon-button>
        </div>
      </div>
    </div>
    <div class='profile-charts'>
      <div class='pies'>
        <profile-pie [ulist]='userService.getUserNovels() | async'></profile-pie>
      </div>

      <div class='heatmap'>
        <profile-heatmap [ulist]='userService.getUserNovels() | async'></profile-heatmap>
      </div>

      <div class='stats'>
        <profile-stats [ulist]='userService.getUserNovels() | async'></profile-stats>
      </div>
    </div>
  </div>
</div>

<div class='profile-toolbar'>
  <div class='toolbar-buttons'>
    <shared-icon-button
      class='toolbar-button' iconType='featherIcon' iconName='featherGrid'
      pTooltip='Grid' tooltipPosition='bottom'>
    </shared-icon-button>

    <shared-icon-button
      class='toolbar-button' iconType='featherIcon' iconName='featherMenu'
      pTooltip='List' tooltipPosition='bottom'>
    </shared-icon-button>
  </div>
  <div class='toolbar-slider'>
    <p-slider
      class='slider' [(ngModel)]='bookScaleValue' [min]='0.5' [max]='1.2' [step]='0.01'
      [pTooltip]='getSliderTooltip()' tooltipPosition='bottom'>
    </p-slider>
  </div>
</div>

<div class='columns-container'>
  <div class='columns'>
    <div class='recent'>
      <profile-book-container
        title='Recently Updated (30 days)'
        [novelScale]='bookScaleValue'
        [novels]='userService.getUserNovels() | async |
        novelSort: sortByRecentlyModified |
        novelFilter: filterModByLastThirtyDays'
      >
      </profile-book-container>
    </div>

    <div class='playing'>
      <profile-book-container
        title='Playing'
        [novelScale]='bookScaleValue'
        [novels]='userService.getUserNovels() | async |
        novelSort: sortByPopularity |
        novelFilter: isPlaying'
      >
      </profile-book-container>
    </div>

    <div class='favorites'>
      <profile-book-container
        title='Favourites'
        [novelScale]='bookScaleValue'
        [novels]='userService.getUserNovels() | async |
        novelSort: sortByVoteScore |
        novelFilter: isFinished'
      >
      </profile-book-container>
    </div>
  </div>
</div>
