/*
-------------------------------------
  Theme:
  - This houses styling that is used to define color styles based on light/dark mode
  - Adjust --dark/--light properties as needed
  - Do not touch anything else
-------------------------------------
 */

/*
-------------------------------------
  Dark
-------------------------------------
 */
$background--dark: #232946;
$background-lighter--dark: #d4d8f0;
$stroke--dark: #616ca1;
$main--dark: #b8c1ec;
$highlight--dark: #eebbc3;
$secondary--dark: #fffffe;
$tertiary--dark: #eebbc3;

$card-background--dark: #fffffe;
$card-heading--dark: #232946;
$card-paragraph--dark: #232946;

$button--dark: #eebbc3;
$button-text--dark: #232946;

$headline--dark: #fffffe;
$sub-headline--dark: #232946;
$paragraph--dark: #b8c1ec;

/*
-------------------------------------
  Light
-------------------------------------
 */
$background--light: #004643;
$background-lighter--light: #abd1c6;
$stroke--light: #001e1d;
$main--light: #e8e4e6;
$highlight--light: #f9bc60;
$secondary--light: #abd1c6;
$tertiary--light: #e16162;

$card-background--light: #004643;
$card-heading--light: #fffffe;
$card-paragraph--light: #abd1c6;

$button--light: #f9bc60;
$button-text--light: #001e1d;

$headline--light: #001e1d;
$sub-headline--light: #0f3433;
$paragraph--light: #abd1c6;


/*
-------------------------------------
  Misc
-------------------------------------
 */

$success-dark: #93DEAC;
$info-dark: #9BCAFF;
$warning-dark: #FFCF91;
$danger-dark: #FF5254;
$help-dark: #86E0E7;

$success-light: #40e771;
$info-light: #6479ff;
$warning-light: #ffd048;
$danger-light: #ee2d2f;
$help-light: #0fabb8;

$active-theme: 'dark';

@mixin define-theme-variables($theme) {
  @if $theme == 'dark' {
    --background-color: #{$background--dark};
    --background-lighter-color: #{$background-lighter--dark};
    --stroke-color: #{$stroke--dark};
    --main-color: #{$main--dark};
    --highlight-color: #{$highlight--dark};
    --secondary-color: #{$secondary--dark};
    --tertiary-color: #{$tertiary--dark};
    --card-background-color: #{$card-background--dark};
    --card-heading-color: #{$card-heading--dark};
    --card-paragraph-color: #{$card-paragraph--dark};
    --button-color: #{$button--dark};
    --button-text-color: #{$button-text--dark};
    --headline-color: #{$headline--dark};
    --sub-headline-color: #{$sub-headline--dark};
    --paragraph-color: #{$paragraph--dark};
    --success-color: #{$success-dark};
    --info-color: #{$info-dark};
    --warning-color: #{$warning-dark};
    --danger-color: #{$danger-dark};
    --help-color: #{$help-dark};
  }
  @else if $theme == 'light' {
    --background-color: #{$background--light};
    --background-lighter-color: #{$background-lighter--light};
    --stroke-color: #{$stroke--light};
    --main-color: #{$main--light};
    --highlight-color: #{$highlight--light};
    --secondary-color: #{$secondary--light};
    --tertiary-color: #{$tertiary--light};
    --card-background-color: #{$card-background--light};
    --card-heading-color: #{$card-heading--light};
    --card-paragraph-color: #{$card-paragraph--light};
    --button-color: #{$button--light};
    --button-text-color: #{$button-text--light};
    --headline-color: #{$headline--light};
    --sub-headline-color: #{$sub-headline--light};
    --paragraph-color: #{$paragraph--light};
    --success-color: #{$success-light};
    --info-color: #{$info-light};
    --warning-color: #{$warning-light};
    --danger-color: #{$danger-light};
    --help-color: #{$help-light};
  }
  @else {
    @error "Invalid theme: #{$theme}.";
  }
}

:root {
  @include define-theme-variables($active-theme);
}
