<div class='modal' [@fadeAnimation]>
  <div class='modal-box' (clickOutside)='handleClickOutside()'>
    <div class='result-field' *ngIf='commits$ | async as commits; else loadingIndicator'>
      <div class='result-item' *ngFor='let commit of commits' (click)='openUrl(commit.html_url)'>
        <span class='heading'>{{formattedDate(commit.commit.author.date)}}</span>
        <span class='subheading'>{{commit.commit.message}}</span>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingIndicator>
  <p-progressSpinner class='spinner'></p-progressSpinner>
</ng-template>
