@media (max-width: 900px) {
  .modal-box {
    width: 100% !important;
    margin: 1rem 0 !important;
    transition: all 0.5s;
  }
}

.modal {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #16161aeb; // Don't touch
  z-index: 999;
  color: var(--text-color);

  .modal-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
    height: max-content;
    max-height: 75%;
    border-radius: 0.5rem;
    background-color: var(--modal-box-background-color);

    .result-field {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      scrollbar-gutter: stable;

      .result-item {
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 0.5rem 0.75rem 0 0.5rem;
        padding: 0.625rem 0.75rem;
        cursor: pointer;
        transition: 0.05s;
        border-radius: 0.5rem;


        &:hover {
          background-color: var(--modal-result-hover-background-color);
        }

        span.heading {
          font-size: 1rem;
          font-weight: 450;
          line-height: 1.7;
        }

        span.subheading {
          color: var(--secondary-color);
          font-size: 0.85rem;
          font-weight: 300;
          padding-bottom: 0.5rem;
        }
      }
    }
  }
}

.spinner {
  margin: auto;
  padding: 20rem;
}
