<div class='book-container' (click)='printBook()'>
  <div class='book-background'></div>

  <div class='book'>
    <div class='book-image'>
        <p-skeleton styleClass="skeleton-image" *ngIf="!imageLoaded"></p-skeleton>
        <img #imageElement [src]='book.vn.image.url' class='book-image' alt='...' (load)="onImageLoad()" [ngClass]="!imageLoaded ? 'book-image--loading' : ''">
    </div>

    <div class='book-info'>
      <div class='book-title'>
        <span class='book-heading'> {{book.vn.title}} </span>
        <span class='book-subheading'> {{book.vn.developers[0].name}} </span>
      </div>
      <div class='book-more'>
        <app-icon-button iconType='featherIcon' iconName='featherMoreVertical'></app-icon-button>
      </div>
    </div>

    <div class='book-tools'>
      <app-icon-button iconType='featherIcon' iconName='featherExternalLink' (click)='openVNLink()'></app-icon-button>
    </div>
  </div>
</div>